@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Hurricane&family=Lato:ital,wght@1,100&family=Open+Sans:ital,wght@0,300;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;1,700;1,900&display=swap');

body {
    background-color: gray;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.resume {
    margin: 5% auto;
    width: 800px;
    height: 1000px;
    background-color: rgb(230, 230, 230);
    box-shadow: -180px 25px 59px -3px rgba(0,0,0,0.34);
    -webkit-box-shadow: -180px 25px 59px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: -180px 25px 59px -3px rgba(0,0,0,0.34);
}
form {
    padding-top: 10px;
}
h3 {
    margin: 0%;
    color: rgb(59, 165, 59);
    border-bottom: 1px solid black;
    padding: 0 0 10px 0;
}
h2, h1 {
    color: white;
    margin: 0%;
    padding:9px 0 0 15px;
    text-align: left;
    z-index: 3;
}
h1 {
    font-size:26px;
}
h2{
    font-size: 17px;
}

p {
    margin: 0%;
    padding: 0%;
    padding-top: 10px;
}

/*left side*/
.resume img {
    z-index: 1;
    width: 100%;
    height: 30%;
    padding: 0px;
    margin: 0px;
}
.bggreen {
    position: absolute;
    width: 100%;
    height:80px;
    margin: 0%;
    padding: 0%;
    background-color: rgb(59, 165, 59);
    z-index: 2;
    top: 240px;
    filter: opacity(0.7);
}

/*contact*/
a:link { 
    text-decoration: none;
    color: rgb(230, 230, 230);
}

a:visited{
    color:rgb(59, 165, 59);
}
a:hover {
    color: yellow;
}

i {
    width: 20px;
    padding: 4px 10px 10px 4px;
    text-align: left;
}

/*left*/
.leftCol .contact, .education, .skills{
    padding: 10% 10% 0 10%;
    text-align: left;
    color: rgb(230, 230, 230);
}

.leftCol {
    position: relative;
    width: 30%;
    float: left;
    background: rgb(70, 70, 70);
    height: 100%;
    box-shadow: -30px 34px 60px 19px rgba(0,0,0,0.67);
    -webkit-box-shadow: -30px 34px 60px 19px rgba(0,0,0,0.67);
    -moz-box-shadow: -30px 34px 60px 19px rgba(0,0,0,0.67);
}

#progress1, #progress2, #progress3, #progress4 {  
    height: 15px;
    width: 110px;
    padding-top: 5px;
    background: none;
}

.progress {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 7px;
    align-items: flex-start;
}
.prog {
    padding-top: 10px;
}


/* right */
.rightCol {
    padding-top: 30px;
    width: 70%;
    float: right;
}

.rightCol .about, .experience, .reference {
    padding: 30px 30px 0 30px;
    text-align: left;
}

.reference1 {
    padding-top: 10px;
}